h2, label  {
  color: white;
  font-weight: normal;
}

#sharedLinks a {
  color: #fec013;
}

.form-div {
  max-width: 320px;
  padding: 19px 29px 29px;
  margin: 10% auto 20px;
  background-image: url("/assets/chalk_black.png");
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-div .form-signin-heading,
.form-div .checkbox {
  margin-bottom: 10px;
}

.form-div input[type="text"],
.form-div input[type="email"],
.form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

